 {% block head %}

 {% endblock %}

{# src/Imie/ProduitBundle/Resources/views/Produit/voir.html.twig #}
{% extends "ImieProduitBundle::layout.html.twig" %}
{% block title %}
    Modifier le produit {{produit.id}} - {{ parent() }}
{% endblock %}
{% block titreH1 %}Modifier le produit {% endblock %} 
{% block menu %}
    {{ parent() }}
    <hr style="margin:0;padding:0;"/>
                    <ul class="nav nav-pills nav-stacked">
                        <a href="{{ path('imie_produit_list') }}" class="btn"><i class="icon-chevron-left"></i>Retour à la liste des produits</a>
                        <a href="{{ path('imie_produit_modifier', {'id': produit.id}) }}" class="btn"><i class="icon-edit"></i>Modifier ce produit</a>
                        <a href="{{ path('imie_produit_supprimer', {'id': produit.id}) }}" class="btn"><i class="icon-trash"></i>Supprimer ce produit</a>
                        <a href="{{ path('imie_stock_ajout_idproduit', {'id': produit.id}) }}" class="btn"><i class="icon"></i>Ajouter du stock pour ce produit</a>
                    </ul>
{% endblock %}
{% block produit_body %}
    <table width="100%">
            <tr>
                <td>
                    {% block formulaire %}
            <form method="post" action="{{path('imie_produit_modifier', {'id': produit.id})}}"
{{ form_enctype(form) }}>
 {{ form_errors(form) }}
                {{ form_label(form.idcategorie) }}{{ form_errors(form.idcategorie) }}
                 {{ form_widget(form.idcategorie, {'attr': {'class': 'form-idcategorie'}}) }}

                {{ form_label(form.nom) }}{{ form_errors(form.nom) }}
                 {{ form_widget(form.nom, {'attr': {'class': 'form-nom'}}) }}
                
                {{ form_label(form.description) }}{{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-description'}}) }}
                
                {{ form_label(form.prix) }}{{ form_errors(form.prix) }}
                 {{ form_widget(form.prix, {'attr': {'class': 'form-prix'}}) }}
{{ form_end(form) }}
{% endblock formulaire %}
                </td> 
                <td class="img-produit"><img src="{{ (produit.idimage.nom is defined)? asset('bundles/produit/images/' ~ produit.idimage.nom) : asset('bundles/produit/img/equipe-ninja.png')}}" /></td>

            </tr>
        </table>
    <div>
     Aperçu des gammes en stock pour ce produit :
    <table class="pretty" width="100%">
        <tr>
         <th>Couleur</th>
         <th>Taille</th>
         <th>Stock</th>
         <th>Défectueux</th>
         <th>Actions</th>
        </tr>
       
            {% for unStock in stocksProduit %}
              <tr>   
                <td>{{ (unStock.idcouleur.couleur is defined)? unStock.idcouleur.couleur :'' }}</td> 
                <td>{{ (unStock.idtaille.taille is defined)? unStock.idtaille.taille :'' }}</td> 
                <td>{{ (unStock.qtestock is defined)? unStock.qtestock  :''}}</td>
                <td>{{ (unStock.qtedefectueux is defined)? unStock.qtedefectueux  :''}}</td>
                <td><a href="{{ path('imie_stock_modifier', {'id': unStock.id}) }}">Maj Stock</a></td>
             </tr>    
            {% endfor %} 
    </table>
    
    <table width="100%"><tr>
            <td width="25%"><a href="{{ path('imie_produit_modifier', {'id': produitprecedent }) }}" class="btn" ><i class="icon-chevron-left"></i>Produit précédent</a></td><td width="25%">&nbsp;</td>
            <td width="25%">&nbsp;</td><td width="25%" align="right"><a href="{{ path('imie_produit_modifier', {'id':   produitsuivant }) }}" class="btn"><i class="icon-chevron-right"></i>Produit Suivant</a></td>
    </tr></table>
    </div>
    {#{{dump(stocksProduit)}} #}

{% endblock %}
