<!DOCTYPE HTML>
<html>
    <head>        
        <title>{% block title %}App {% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }} "type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/produit/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/produit/css/styleBase.css') }}" rel="stylesheet" />
        {% block head %}{% endblock %} 
        {% block stylesheets %}{% endblock %}
        <!---->
    </head>
    <body> 
        
        <div class="container">
            <div id="header" class="hero-unit">
                {% block header %}
                    <h1>Projet Poke</h1>
                    <p>{{(app.user.username is defined )? 'Bienvenue '~app.user.username : 'non connecté'}}</p>
                {% endblock %}  
            </div>
            <div class="row">
                <div id="menu" class="span3">
                   <!-- <h3>Menu</h3> -->
                    {% block menu %}
                    <ul class="nav nav-pills nav-stacked">
                        <!--<li><a href="{{ path('imie_produit_homepage') }}">Accueil</a></li>-->
                        <li><a href="{{ path('imie_produit_homepage') }}">Gestion des stocks</a></li>
                        <li><a href="{{ path('imie_produit_list') }}">Gestion des produits</a></li>
                    </ul>
                    {% endblock %}
                </div>
                        <div id="content" class="span9">
                            {% block body %}
                            {% endblock %}
                        </div>
            </div>
            <hr>
            <footer class="footer"><table width="100%"><tr><td width="50%" align="left">&copy; {{ 'now'|date('Y') }}  {{ webmaster }}  </td><td align="right">  <a href="http://www.imie.fr">www.imie.fr</a></td></tr></table></footer>
        </div>
{% block javascripts %}
    <!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    -->
{% endblock %}
</body>
</html>