{% extends "ImieProduitBundle::layout.html.twig" %}
{% block title %} Accueil - {{ parent() }} {% endblock %}
{% block head %} 
{{ parent() }} 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" /> 
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script> 
        <script src="{{ asset('bundles/produit/js/') }}jquery.dataTables.columnFilter.js" type="text/javascript"></script>
	<script src="{{ asset('bundles/produit/js/') }}jquery.multiselect.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
{% endblock %} 

{% block menu %}
    {{ parent() }}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('imie_stock_ajouter') }}">Ajouter un produit en stock</a></li>
        <li><a href='/projetPoke/web/app_dev.php/logout'>Déconnexion</a></li>
    </ul>
    <hr style="margin:0;padding:0;"/>
    <div id="menu" class="span3">
    <form action ="{{ path('imie_produit_homepage') }}" method="POST">
        <fieldset class="monFieldset">
            <legend><table><tr><td width="60%">Regrouper</td><td></td></tr></table></legend>
            <select name="regrouper" >
                <option value="" {{ (pregrouper is not defined  or pregrouper is null )? 'selected' :'' }} />aucun</option><br />
                <option value="produit" {{ (pregrouper is defined and pregrouper=="produit")? 'selected' :'' }} />par produit</option><br />
                <option value="categorie" {{ (regrouper is defined  and pregrouper=="categorie")? 'selected' :'' }} />par catégorie</option>
            </select>
        </fieldset>
        <fieldset class="monFieldset">
            <legend><table><tr><td width="70%">Catégories</td><td><input type="submit" value="Filtrer" class="btn"/></td></tr></table></legend>
            {% for categorie in categories %}
            <input type="checkbox" name="categorie[]" value="{{ categorie.id }}" {{ (categorie.id in pcategories)? 'checked' :'' }} />{{ categorie.nom }}<br />
            {% endfor %}
        </fieldset>
        
        <fieldset class="monFieldset">
            <legend><table><tr><td width="70%">Filtrer par tailles</td><td><input type="submit" value="Filtrer" class="btn"/></td></tr></table></legend>
            {% for taille in tailles %}
            <input type="checkbox" name="taille[]" value="{{ taille.id }}" {{ (taille.id in ptailles)? 'checked' :'' }} />{{ taille.taille }}<br />
            {% endfor %}
        </fieldset>
        
        <fieldset class="monFieldset">
            <legend><table><tr><td width="70%">Filtrer par couleurs</td><td><input type="submit" value="Filtrer" class="btn"/></td></tr></table></legend>
            {% for couleur in couleurs %}
            <input type="checkbox" name="couleur[]" value="{{ couleur.id }}" {{ (couleur.id in pcouleurs)? 'checked' :'' }} />{{ couleur.couleur }}<br />
            {% endfor %}
        </fieldset>
        
        <input type="submit" value="Filtrer" class="btn" style="width:100%;"/>
    </form>
    </div>
{% endblock %}
{% block titreH1 %}Liste des produits en stock{% endblock %} 
{% block produit_body %}
    <!-- <h3> Liste des produits en stock </h3> -->
    <table class="pretty" width="100%"> 
    <thead> 
        <tr>  
            <th>Catégorie</th>  
            <th>Produit</th> 

            <th>Gammes<br/>Couleur/Taille</th>  
            <th>Qte stock</th>  
            <th>Défectueux</th>  

            <th>prix</th>
            <th>Actions</th>
        </tr> 
    </thead> 
    <tbody> 
    <!--{{ dump(stocks) }}--> 
    {% for stock in stocks %}
        <tr>  
            <td>{{ (stock.idproduit.idcategorie.nom is defined)? stock.idproduit.idcategorie.nom :'' }}{{ (stock.categorie is defined)? stock.categorie:'' }}</td>  
            <td title="{{ (stock.idproduit.nom is defined)? stock.idproduit.nom | striptags | slice(0, 80)  :''}}{{ (stock.nom is defined)? stock.nom | striptags | slice(0, 80):'' }}[...]">
                <a href="{{ (stock.id is defined ) ? path('imie_stock_voir', {'id': stock.id}) : ''}}" 
                   title="{{ (stock.idproduit.nom is defined)? stock.idproduit.nom | striptags | slice(0, 80)  :''}}{{ (stock.nom is defined)? stock.nom | striptags | slice(0, 80):'' }}[...]"
                   alt="{{ (stock.idproduit.nom is defined)? stock.idproduit.nom | striptags | slice(0, 80)  :''}}{{ (stock.nom is defined)? stock.nom | striptags | slice(0, 80):'' }}[...]"
                   >
                    {{ (stock.idproduit.nom is defined)? stock.idproduit.nom | striptags | slice(0, 25)  :''}}{{ (stock.nom is defined)? stock.nom | striptags | slice(0, 25):'' }}[...]
                </a>
            </td> 
            <td>{{ (stock.idcouleur.couleur is defined)? stock.idcouleur.couleur :'' }}{{(stock.gammes is defined)? stock.gammes :'/' }}{{(stock.idtaille.taille is defined)? stock.idtaille.taille :'' }}</td>  
            <td>{{ (stock.qtestock>0)? stock.qtestock :'' }} </td>  
            <td class="tddef">{{ (stock.qtedefectueux>0)? stock.qtedefectueux : '' }}</td>  

            <td>{{ (stock.idproduit.prix is defined)? stock.idproduit.prix :'' }}{{ (stock.prix is defined)? stock.prix:'' }}€</td>

            {% if pregrouper is not defined  or pregrouper is null or pregrouper==""  %}
            <td><a href="{{ (stock.id is defined ) ? path('imie_stock_voir', {'id': stock.id}) : ''}}" >Voir</a> 
                <a href="{{ (stock.id is defined ) ?  path('imie_stock_modif', {'id': stock.id}): '' }}" >Modifier</a></td>
            {% else %}
            <td colspan="2">
                <a href="{{ (stock.idproduit is defined  ) ? path('imie_produit_voir', {'id': stock.idproduit}) : ''}}" >Voir produit</a> 
            </td>
            {% endif %}
        </tr> 
    {% endfor %}
    </tbody> 
    </table>
        <p>
        <a href="{{ path('imie_produit_homepage') }}" class="btn">&nbsp;</a>
    </p>
{% endblock %}
