{% extends "ImieProduitBundle::layout.html.twig" %}
{% block title %} Accueil - {{ parent() }} {% endblock %}
{% block head %} 
{{ parent() }} 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" /> 
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> 
<script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script> 
<script> 
$(function() { 
  $('#user-list').DataTable({ 
        "processing": true, 
        "serverSide": true, 
        "ajax": "{{ path('user_paginate') }}", 
        "sAjaxDataProp": "data", 
        "pageLength": 10, 
        "columns":[ 
            {"data": "id"}, 
            {"data": "name"}, 
            {"data": "created_at"} 
        ] 
    }); 
}); 
</script> 
{% endblock %} 
{% block produit_body %}
    <div >
        Liste des produits et des stocks ici (liste sous forme de tableau à adapter avec le modèle du wireframe de jolan)
    </div>
    
    <p>
        <table class="tableStocks">
        <!--
                                <tr>
                                    <th>Image</th><th>Article</th><th>contenu</th><th>date</th><th>auteur</th><th>publication</th><th>Catégorie</th><th>S</th>
                                </tr>
       -->
       {% for stock in stocks %}
                            {{ dump(stock) }}
                            <!--
                            <tr>
                                 <td><a href="article_suppr/{{ stock.id }}">suppr</a></td>
                            </tr>
                             // -->
        {% endfor %}
        </table>
    </p>
    
    <!-- datatable --> 
    <table id="user-list"> 
    <thead> 
        <tr> 
            <th>ID</th> 
            <th>Nom</th> 
            <th>Crée le</th> 
        </tr> 
    </thead> 
    <tbody> 
    </tbody> 
    </table> 
    <!-- fin datatable --> 
{% endblock %}
