{% extends "ImieProduitBundle::layout.html.twig" %}
{% block title %}
    Mise à jour du stock {{id}} - {{ parent() }}
{% endblock %}
{% block menu %}
    {{ parent() }}
    <hr style="margin:0;padding:0;"/>
        <p>
        <a href="{{ path('imie_stock_list') }}" class="btn"><i class="icon-chevron-left"></i>Retour à la liste des stocks</a>
        <a href="{{ path('imie_produit_voir', {'id': stock.idproduit.id}) }}" class="btn"><i class="icon-edit"></i>Voir le produit</a>
        <a href="{{ path('imie_stock_supprimer', {'id': id}) }}" class="btn"><i class="icon-trash"></i>Supprimer ce stock</a>
    </p>
 {% endblock %}  
{% block titreH1 %}Modifier le stock du produit {% endblock %} 
{% block produit_body %}
    <form name="modifierStock" action="{{ path('imie_stock_modifier', {'id': id}) }}" method="POST">
    <div class="well" >
        <table width="100%">
            <tr>
               <td colspan="2">{{ stock.idproduit.idcategorie.nom }}</td>
               <td colspan="2">{{ stock.idproduit.nom }}</td>
            </tr>
            <tr>
                <td  colspan="2" ><img src="{{ asset('bundles/produit/images/')}}{{ (stock.idproduit.idimage.nom is defined)? stock.idproduit.idimage.nom :''}}" /></td>
                <td colspan="2" width="50%">{{ stock.idproduit.description }}</td>
            </tr>
            <tr>
               <td width="25%">Taille :</td><td>{{ (stock.idtaille.taille is defined)?  stock.idtaille.taille:''  }}</td>
               <td width="25%">Couleur :</td><td>{{ (stock.idcouleur.couleur is defined)?  stock.idcouleur.couleur:''  }}</td>
            </tr>
        </table>
    </div>
    <div >
        <table class="tableMajStock" width="100%"> 
            <tr>
               <td  width="25%">Quantité en stock :</td><td width="25%"><input name="qtestock" type="text" value="{{ stock.qtestock }}"  class="inputText" /></td>
               <td  width="25%">Exemplaires défectueux :</td><td width="25%"><input name="qtedefectueux" type="text" value="{{ stock.qtedefectueux  }}" class="inputText" /></td>
            </tr>
            <tr>
               <td colspan="2"></td>
               <td colspan="2" align="right"><input type="submit"  value="Mettre à jour le stock" class="btn" style="width:100%;" /></td>
            </tr>
        </table>
        <table width="100%"><tr>
            <td width="25%"><a href="{{ path('imie_stock_modifier', {'id': stockprecedent }) }}" class="btn" ><i class="icon-chevron-left"></i>Stock précédent</a></td><td width="25%">&nbsp;</td>
            <td width="25%">&nbsp;</td><td width="25%" align="right"><a href="{{ path('imie_stock_modifier', {'id':   stocksuivant }) }}" class="btn"><i class="icon-chevron-right"></i>Stock Suivant</a></td>
    </tr></table>
    </div>
    </form>
{% endblock %}