{% extends "ImieProduitBundle::layout.html.twig" %}
{% block title %}
    Modifier le stock  - {{ parent() }}
{% endblock %}
{% block menu %}
    {{ parent() }}
    <hr style="margin:0;padding:0;"/>
        <p>
        <a href="{{ path('imie_stock_list') }}" class="btn"><i class="icon-chevron-left"></i>Retour à la liste des stocks</a>
    </p>
 {% endblock %}  
{% block titreH1 %}Modification de stock {% endblock %} 
{% block produit_body %}
    <form name="modifierStock" action="{{ path('imie_stock_modifier',{'id': stock.id} ) }}" method="POST">
  {# {{dump(form)}}   #}    
{# {{ form(form) }} #}
    <div class="well" >
        <table width="100%">
            <tr>
               <td colspan="2"><span class="libelle">Produit :</span><br/>{{ stock.idproduit.nom }}</td>
               <td colspan="2"><span class="libelle">Catégorie :</span><br/>{{ stock.idproduit.idcategorie.nom }} </td>
            </tr>
            <tr>
                <td  colspan="2" ><img src="{{ asset('bundles/produit/images/')}}{{ (stock.idproduit.idimage.nom is defined)? stock.idproduit.idimage.nom :''}}" /></td>
                <td colspan="2" width="50%" valign="top"><span class="libelle">id = </span>{{ stock.id }}<br/><span class="libelle">Description:</span><br/>{{ stock.idproduit.description }}</td>
            </tr>
        </table>
    </div>
{{ form_errors(form) }}
    <div class="well" >
        <table width="100%">
            <tr> 
               <td colspan="1">{{ form_label(form.idproduit) }}{{ form_errors(form.idproduit) }}</td>
               <td colspan="3">{{ form_widget(form.idproduit) }}</td>
            </tr>
            <tr>
               <td colspan="1">{{ form_label(form.idfournisseur) }}{{ form_errors(form.idfournisseur) }}</td>
               <td colspan="3">{{ form_widget(form.idfournisseur) }}</td>
            </tr>
            <tr>
               <td width="25%">{{ form_label(form.idtaille) }}{{ form_errors(form.idtaille) }}</td><td>{{ form_widget(form.idtaille) }}</td>
               <td width="25%">{{ form_label(form.idcouleur) }}{{ form_errors(form.idcouleur) }}</td><td>{{ form_widget(form.idcouleur) }}</td>
            </tr>
        </table>
    </div>
    <div >
        <table class="tableMajStock" width="100%"> 
            <tr>
               <td  width="25%">{{ form_label(form.qtestock) }}{{ form_errors(form.qtestock) }}</td><td width="25%">{{form_widget(form.qtestock) }}</td>
               <td  width="25%">{{ form_label(form.qtedefectueux) }}{{ form_errors(form.qtedefectueux) }}</td><td width="25%">{{ form_widget(form.qtedefectueux) }}</td>
            </tr>
            <tr>
               <td colspan="2">&nbsp;</td>
               <td colspan="2" align="right"><input type="submit"  value="Modifier ce produit en stock" class="btn" style="width:100%;" /></td>
            </tr>
        </table>
    </div>

{{ form_end(form) }}
{% endblock %}